.example-wrapper {
    padding: 0px 20px;
}

.table {
    margin-top: 30px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.table .table-row .table-column, .table .table-header > div, .table .empty {
    padding: 5px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.pagination {
    margin-top: 10px;
}